In [1]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn import metrics
import seaborn as sns

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
data = pd.read_csv('Bank_Personal_Loan_Modelling.csv')

In [12]:
data.var()

ID                    2.083750e+06
Age                   1.314042e+02
Experience            1.315140e+02
Income                2.119104e+03
ZIP Code              4.502257e+06
Family                1.317130e+00
CCAvg                 3.054312e+00
Education             7.053801e-01
Mortgage              1.034570e+04
Personal Loan         8.680136e-02
Securities Account    9.351934e-02
CD Account            5.676319e-02
Online                2.406779e-01
CreditCard            2.076055e-01
dtype: float64

In [4]:
data.shape

(5000, 14)

In [13]:
data.columns.tolist()

['ID',
 'Age',
 'Experience',
 'Income',
 'ZIP Code',
 'Family',
 'CCAvg',
 'Education',
 'Mortgage',
 'Personal Loan',
 'Securities Account',
 'CD Account',
 'Online',
 'CreditCard']

In [6]:
data.dtypes

ID                      int64
Age                     int64
Experience              int64
Income                  int64
ZIP Code                int64
Family                  int64
CCAvg                 float64
Education               int64
Mortgage                int64
Personal Loan           int64
Securities Account      int64
CD Account              int64
Online                  int64
CreditCard              int64
dtype: object

In [7]:
data.sample(10)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
3666,3667,60,35,51,94143,2,2.8,1,0,0,0,0,1,0
3163,3164,51,27,52,94132,2,1.0,3,0,0,0,0,0,0
4212,4213,50,23,9,94109,1,0.5,2,98,0,0,0,1,0
251,252,54,28,170,92182,2,6.2,2,325,1,0,0,1,0
266,267,63,38,61,94720,2,1.5,1,0,0,0,0,1,0
2249,2250,41,14,38,95814,3,1.0,2,150,0,0,0,1,0
4280,4281,42,18,135,95136,2,3.3,1,0,0,1,1,1,1
1862,1863,42,17,82,95616,1,3.7,3,0,0,0,0,1,0
3500,3501,51,26,90,94110,1,2.8,2,0,0,0,0,1,1
2651,2652,43,17,51,94025,1,0.7,3,0,0,0,0,0,0

In [8]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,5000.0,2500.500000,1443.520003,1.0,1250.75,2500.5,3750.25,5000.0
Age,5000.0,45.338400,11.463166,23.0,35.00,45.0,55.00,67.0
Experience,5000.0,20.104600,11.467954,-3.0,10.00,20.0,30.00,43.0
Income,5000.0,73.774200,46.033729,8.0,39.00,64.0,98.00,224.0
ZIP Code,5000.0,93152.503000,2121.852197,9307.0,91911.00,93437.0,94608.00,96651.0
Family,5000.0,2.396400,1.147663,1.0,1.00,2.0,3.00,4.0
CCAvg,5000.0,1.937938,1.747659,0.0,0.70,1.5,2.50,10.0
Education,5000.0,1.881000,0.839869,1.0,1.00,2.0,3.00,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.00,0.0,101.00,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.00,0.0,0.00,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.00,0.0,0.00,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.00,0.0,0.00,1.0
Online,5000.0,0.596800,0.490589,0.0,0.00,1.0,1.00,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.00,0.0,1.00,1.0

In [11]:
# GIVES OUT SECOND ROW OF CDATA TABLE

data.iloc[2]

ID                        3.0
Age                      39.0
Experience               15.0
Income                   11.0
ZIP Code              94720.0
Family                    1.0
CCAvg                     1.0
Education                 1.0
Mortgage                  0.0
Personal Loan             0.0
Securities Account        0.0
CD Account                0.0
Online                    0.0
CreditCard                0.0
Name: 2, dtype: float64

In [ ]:
# data['Experience']=data['Experience'].abs()
# gives mod on value, all negative value will be converted into positives value

In [ ]:
data["Personal Loan"].value_counts()

In [ ]:
data.corr()

In [ ]:
data.isnull().sum()

In [ ]:
# PAILPLOT

sns.pairplot(cData_attr, diag_kind='kde')

In [ ]:
data.fillna(data.median(), inplace =  True )
# use to fill NA values by median of that column

In [ ]:
# converting the hp column from object / string type to float

cData['horsepower'] = cData['horsepower'].astype('float64')

In [ ]:
for feature in data.columns: # Loop through all columns in the dataframe
    if data[feature].dtype == 'object': # Only apply for columns with categorical strings
        data[feature] = pd.Categorical(data[feature])# Replace strings with an integer
data.head(10)

In [ ]:
data = data.replace({
                "checking_balance":{"< 0 DM": 1, "1 - 200 DM": 2 ,"> 200 DM": 3 ,"unknown":-1},
                "credit_history": {"critical": 1, "poor":2 , "good": 3, "very good": 4,"perfect": 5},
                 "savings_balance": {"< 100 DM": 1, "100 - 500 DM":2 , "500 - 1000 DM": 3, "> 1000 DM": 4,"unknown": -1},
                 "employment_duration":{"unemployed": 1, "< 1 year": 2 ,"1 - 4 years": 3 ,"4 - 7 years": 4 ,"> 7 years": 5},
                "phone": {"no": 1, "yes": 2 },
                #"job": {"unemployed": 1, "unskilled": 2, "skilled": 3, "management": 4 },
                "default": {"no": 0, "yes": 1 })
    
#     Used to replace the cell values into something else, here we replaced categorical data into integers.

In [ ]:
data=pd.get_dummies(Data, columns=["purpose","housing","other_credit","job"])

# splits the different variables into different columns.

In [ ]:
# dropping

X = df.drop(['species'], axis=1)
y = df['species']

In [4]:
# SPILTTING for test train

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.33,random_state=42)

# LOGISTIC REGRESSION

In [ ]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver= "liblinear")
model.fit(x_train, y_train)

# SCORE
model_score = model.score(x_test, y_test)
print(model_score)

# PREDICT
y_predict = model.predict(x_test)


# TO KNOW COEFFICIENTS
coef_df = pd.DataFrame(model.coef_)
coef_df['intercept'] = model.intercept_
print(coef_df)

# CONFUSION MATRIX
from sklearn import metrics
print(metrics.confusion_matrix(y_test, y_test))

# CLASSIFICATION REPORTS
print(metrics.classification_report(y_test, y_predict))

# KNN CLASSIFIERS

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
NNH = KNeighborsClassifier(n_neighbors=3)
NNH.fit(x_train, y_train)
predicted_labels = NNH.predict(x_test)

# CONFUSION MATRIX
metrics.confusion_matrix(y_test, predicted_labels)

# SCALING OR PREPROCESSING

In [ ]:
from sklearn import preprocessing 
x_train_scaled = preprocessing.scale(x_train)
x_test_scaled = preprocessing.scale(x_test)

# LATER USE SCALED TRAIN DATA ON LOGISTIC OR KNN IT MIGHT HAVE INCREASED MADEL SCORE

# CONFUSION MATRIX VISUAL HEATMAP

In [ ]:
cm=metrics.confusion_matrix(y_test, predicted_labels, labels=[1, 0])

df_cm = pd.DataFrame(cm, index = [i for i in ["1","0"]],
                  columns = [i for i in ["Predict 1","Predict 0"]])
plt.figure(figsize = (7,5))
sns.heatmap(df_cm, annot=True)

# DECISION TREE

In [ ]:
# DECISION TREE ALGO FIT (YOU ARE EXPECTED TO SPLIT DATA BEFORE DOING THIS)
from sklearn.tree import DecisionTreeClassifier
dTreeR = DecisionTreeClassifier(criterion = 'gini', max_depth = 3, random_state=1)
dTreeR.fit(X_train, y_train)

# SCORE
print(dTreeR.score(X_train, y_train))
print(dTreeR.score(X_test, y_test))



# DECISON TREE VISUALIZATION
from sklearn import tree
plt.figure(figsize=(15,10))
tree.plot_tree(treemodel,filled= True)

# importance of features in the tree building ( The importance of a feature is computed as the 
#(normalized) total reduction of the criterion brought by that feature. It is also known as the Gini importance )
print (pd.DataFrame(dTreeR.feature_importances_, columns = ["Imp"], index = X_train.columns))

# LINEAR REGRESSION

In [ ]:
# DATA MANIPULATION FIRST

# isdigit()? on 'horsepower' (HORSEPOWER IS COLUMNS)
# WE ARE REMOVING ANY ENTRY(STRING) IN COLUMN THAT HAS VALUE OTHER THAN DIGIT
hpIsDigit = pd.DataFrame(cData.horsepower.str.isdigit())  # if the string is made of digits store True else False

#print isDigit = False!
cData[hpIsDigit['horsepower'] == False]   # from temp take only those rows where hp has false


# NOW CHANGING 'NON INTEGER' INTO 'NAN'
cData = cData.replace('?', np.nan)
cData[hpIsDigit['horsepower'] == False]

In [ ]:
# replace the missing values with median value.
# Note, we do not need to specify the column names below
# every column's missing value is replaced with that column's median respectively  (axis =0 means columnwise)
#cData = cData.fillna(cData.median())

medianFiller = lambda x: x.fillna(x.median())
cData = cData.apply(medianFiller,axis=0)

cData['horsepower'] = cData['horsepower'].astype('float64')  # converting the hp column from object / string type to float

In [ ]:
# FIT DATA

regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

# COEFFICIENTS

for idx, col_name in enumerate(X_train.columns):
    print("The coefficient for {} is {}".format(col_name, regression_model.coef_[0][idx]))
    
# INTERCEPT

intercept = regression_model.intercept_[0]
print("The intercept for our model is {}".format(intercept))

# MODEL SCORE (TRAIN ONLY)
regression_model.score(X_train, y_train)

# MODEL SCORE (TEST ONLY)
regression_model.score(X_test, y_test)

In [ ]:
# ADDING INTERACTIVE VARIABLES TO INCREASE MODEL SCORE


from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model

poly = PolynomialFeatures(degree=2, interaction_only=True)
X_train2 = poly.fit_transform(X_train)
X_test2 = poly.fit_transform(X_test)

poly_clf = linear_model.LinearRegression()

poly_clf.fit(X_train2, y_train)

y_pred = poly_clf.predict(X_test2)

print(y_pred)

# #In sample (training) R^2 will always improve with the number of variables!
# print(poly_clf.score(X_train2, y_train))

In [ ]:
# POSTING INTREACTIVE VARIABLE ADDITION WE CHECK R^2 SCORE

print(poly_clf.score(X_test2, y_test))

# AFTER THIS WE CHECK NUMBER OF VARIABLE ADDED (ADDING VARIABLE INCREASES COMPLEXITY OF DATA)

print(X_train.shape)
print(X_train2.shape)