In [1]:
import pandas as pd
import numpy as np
from sklearn import model_selection
from sklearn import metrics
import seaborn as sns

In [2]:
mat = np.array([[1,2,3], [2,5,6]])
print(mat)  

# Tuple = () You cannot do modification on this.
# List = [] You can do modification on this.
# Set = ([]) Set is mytable but its element are immutable.
# Mutable = something that can be changed or modified.
# Dictionary = '''{} Dict is unordered collectuon of values stred as <key values> pair. A key in dictionary must be immutable and Unique'''

[[1 2 3]
 [2 5 6]]

In [3]:
a = [1,2,3,4, 'abc', 'xyz']
type(a)

list

In [4]:
a.append('abc')
a
a.pop(5) #Defalut indexing of -1

'xyz'

In [5]:
del a[5]

In [6]:
a.insert(4, 'abc')
a

[1, 2, 3, 4, 'abc', 'abc']

In [7]:
a = [1, 2, 3, 4, 5]
# multiplier = 3

result = [x * 3 for x in a]

print(result)

[3, 6, 9, 12, 15]

In [8]:
x = ([1,2,5], 8.5, 9.6, 'abc', [True, False]) #Tuple
list(x) #converts into a list

[[1, 2, 5], 8.5, 9.6, 'abc', [True, False]]

In [9]:
x = list(x)

set(x)  #returns the unqiue numbers but error coming

TypeError: unhashable type: 'list'

In [ ]:
x = (8.5, 9.6, 'abc')

In [ ]:
set(x)

In [ ]:
x1 = {'id1' :8.5}
type(x1)

In [ ]:
X5 = [1,2,3,4,5,6,7,8,9,10]
X5[5] = True
X5

In [ ]:
X5 = tuple(X5)
type(X5)

In [ ]:
id(X5)

In [ ]:
X6 = X5

In [ ]:
id(X6), id(X5)

In [15]:
captains = {
    "Enterprise": "Picard",
    "Voyager": "Janeway",
    "Defiant": "Sisko",
    "Discovery": "unknown",
}

In [13]:
del captains["Discovery"]

KeyError: 'Discovery'

In [17]:
captains.pop("Discovery")

'unknown'

In [18]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [32]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [34]:
a[2:2] = []
a

[1, 2, 3, 4, 5]

In [35]:
a = [1,2,3,4,5]
a.remove(3)

In [36]:
a

[1, 2, 4, 5]

In [38]:
t = ('foo', 'bar', 'baz')

In [39]:
t[1] = 'qux'

TypeError: 'tuple' object does not support item assignment

In [40]:
{1, 2, 3, 4, 5} - {3, 4} ^ {5, 6, 7}

{1, 2, 6, 7}

In [41]:
employee = {
    "id": 1701,
    "name": "James T Kirk",
    "email": "jtkirk@starfleet.com",
    "position": "captain",
}

In [42]:
print(employee["email"])

jtkirk@starfleet.com

In [43]:
captains = {}

In [44]:
captains

{}

In [3]:
a = [1,2,3,4,5]
# a[2] = []
a

[1, 2, [], 4, 5]

In [10]:
captains = {
    "Enterprise": "Picard",
    "Voyager": "Janeway",
    "Defiant": "Sisko",
    "Discovery": "unknown",
}

# del captains["Discovery"]

In [7]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [15]:
captains.dict()

AttributeError: 'dict' object has no attribute 'dict'

In [9]:
captains

{}